<!DOCTYPE html>
<html>


<head>
    <title>About Us</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
         {{>header}}
   <div id="content">
    <img src="img/geo.jpg" alt="Gers" class="images" >
    <p>Leader</p> 
    <p>Name: George G. Beato </p>
    <p>Address: Calomagon Bulan, Sorsogon</p>
    <p>Course: Bachelor Of Science in Information Technology</p> 
    <p>Members:</p>
    <br>
    <img src="img/alex.jpg" alt="alex" class="images">
    <p>Alexandria Badar</p>
    <img src="img/renz.jpeg" alt="Providence" class="images" >
    <P>Renz Roxas</P>
    <img src="img/ches.jpeg" alt="Providence" class="images" >
    <p>Cheska Gonzales</p>
    <img src="img/uwu.jpeg" alt="Providence" class="images" >
    <p>Aaron Gopela</p>
    

</div>
      </div>
</body>

  {{>footer}}

</html>